apache-tomcat-6.0.39/webapps/BookFlightService/META-INF/BookFlightService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.Booking.org/FlightBookingService/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://www.Booking.org/FlightBookingService/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <types>
    <xsd:schema targetNamespace="http://www.Booking.org/FlightBookingService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="Search">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SearchDeparture" type="xsd:string"/>
            <xsd:element name="SearchDestination" type="xsd:string"/>
            <xsd:element name="SearchDate" type="xsd:date"/>
            <xsd:element name="SearchNoOfPassengers" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FlightsList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="FlightNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Booking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FlightNumber" type="xsd:string"/>
            <xsd:element name="Date" type="xsd:date"/>
            <xsd:element name="NoOfPassengers" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BookingResult" type="xsd:boolean"/>
    </xsd:schema>
  </types>
  <message name="CheckAvailabilityResponse">
    <part name="FlightsList" element="s0:FlightsList">
    </part>
  </message>
  <message name="BookFlightResponse">
    <part name="BookingResult" element="s0:BookingResult">
    </part>
  </message>
  <message name="CheckAvailabilityRequest">
    <part name="Search" element="s0:Search">
    </part>
  </message>
  <message name="BookFlightRequest">
    <part name="Booking" element="s0:Booking">
    </part>
  </message>
  <portType name="BookFlight">
    <operation name="CheckAvailability">
      <input message="s0:CheckAvailabilityRequest">
    </input>
      <output message="s0:CheckAvailabilityResponse">
    </output>
    </operation>
    <operation name="BookFlight">
      <input message="s0:BookFlightRequest">
    </input>
      <output message="s0:BookFlightResponse">
    </output>
    </operation>
  </portType>
  <binding name="BookFlightBinding" type="s0:BookFlight">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CheckAvailability">
      <soap:operation soapAction="http://www.Booking.org/FlightBookingService/CheckAvailability"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="BookFlight">
      <soap:operation soapAction="http://www.Booking.org/FlightBookingService/BookFlight"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BookFlightService">
    <port name="BookFlightPort" binding="s0:BookFlightBinding">
      <soap:address location="http://www.Booking.org/FlightBookingService/PatService"/>
    </port>
  </service>
</definitions>
