WardExample/bpelContent/Ward.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://www.PAHospital.org/schema" xmlns:tns="http://www.PAHospital.org/schema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">	
	
	<xs:element name="Patient">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PatientID" type="xsd:string"/>
				<xs:element name="PatientName" type="xsd:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PatientID" type="xsd:string"/>
	
	<xs:element name="TesterElem" type="xsd:string"/>
	
</xs:schema>